*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #fdfdfd;
    --bg-color: #0b3b3b;
    --secondary-color: #456b6b;
    --light-sec-color: #dcf7f7;
    --black: #0d0d0d;
}
.heading{ 
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.my_logo{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 2px;
}
#anchor{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    line-height: 70px;
    gap: 25px;
}
#menu_icon{
    /* margin-top: 25px; */
    background-color: white;
    display: none;
}
.cresent{
    margin-top: 25px;
    font-size: 30px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: white;
}
#anchor a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: white;
}
#anchor a:hover{
    background-color: blue;
    color: white;
    border-bottom: 1px solid black;  
}
.warm_message{
    text-align: center;
    padding: 10px 15px;
    }
.span{
    background-color: blue;
    color: white;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px; 
}
.hero_section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--light-sec-color);
    border-radius: 5px;
}

.hero_description {
    display: flex;
    justify-content: flex-start;
}
.soc_med_logo{
    padding-left: 30px;
    font-size: 40px;
}
.myjob_description{
    padding-left: 30px;
    text-align: justify;

}
.picture {
    display: flex;    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
  .my_image{
    border-radius: 50px;
    margin-top: 10px;
}
.hmc{
    text-align: center;
    color: midnightblue;
}
.my_cv{
    text-align: center;
    background-color: blue;
    top: 400px;
    border-radius: 20px;
    padding: 5px;   
}
.my_cv a{
    color: white;
    text-decoration: none;
}
.my_cv a:hover{
    background-color: rgb(138, 24, 79);
    color: white;
    border-radius: 20px;
}
.third_part{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 50px;
}
.image2_div{
    margin-left: 100px;
}
.my_image2{
    border-radius: 50px;
}
.aboutme_div{
    margin-right: 200px;
}
.para{
    text-align: justify;
}
.name{
    padding-left: 5px;
    font-weight: bold;
}
.phone{
    font-weight: bold;
    padding-left: 5px;
}
.gmail{
    padding-left: 5px;
}
.my_cv2{
    position: absolute;
    display: inline;
    background-color: blue;
    right: 400px;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
}
.my_cv2 a{
    color: white;
    text-decoration: none;
}
.my_cv2 a:hover{
    background-color: rgb(138, 24, 79);
    color: white;
    border-radius: 20px;
}
.contact{
    display: grid;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    background-image: linear-gradient(#456b6b, rgb(188, 242, 255));
}
.con_con{
    color: white;
    text-align: center;
    margin: 10px 0 10px 0;
}
.contact_input{
    margin-bottom: 10px;
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.text_area{
    text-align: center;
    border-radius: 10px;
    padding-top: 50px;
}
.send{
    margin-left: 150px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
}
.send:hover{
    background-color: aqua;
}
.services{
    background-color: var(--secondary-color);
    margin-top: 15px;
    padding: 15px;
}
.our_services{
    text-align: center;
    color: white;
}
.servives_conn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
    border-radius: 5px;   
}
.service{
    background-color: aquamarine;
    width: 250px;

}
.service .img
{
    width: 100%;
    border-radius: 5px;
    height: 135px;
}
.serv_para{
    padding: 10px;
    text-align: justify;
    color: brown;
}

.learnmore1{
    text-align: center;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    background-color: #dcf7f7;
    margin-top: 15px;
}
.follow_us{
    background-color: var(--secondary-color);
    /* display: flex; */
    justify-content: center;
    gap: 60px;
    text-align: center;
}
.follow_soc{
    display: flex;
    justify-content: center;
    gap: 20px;   
}
#facebook,
#linkedIn,
#whatsapp{
    font-size: 50px;
    width: 50px;
    padding-top: 20px;
    color: white;
}
@media screen and (max-width: 600px) {   

    .heading{ 
        width: 100%;
        background-color: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
#anchor a{
    text-decoration: none;
    display:none;
    justify-content: space-between;
    color: white;
}

     #menu_icon {
        display: flex;
        background-color: white;
        font-size: 30px;
        margin-right: 50px;
    }
    .cresent{
        display: none;
    }
    #anchor {
        display: block;
    }  
    .fa-solid fa-bars{
        display: block;
        width: 40%;
        height: 40vh;
    }
    .span{
        display: block;
        background-color: blue;
        color: white;
        margin-top: 20px;
        margin-right: 100px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
        .hero_section{
flex-direction: column;
align-items: center;
justify-content: center;
        }

    
    .soc_med_logo{
        padding-left: 5px;
        display: block;
        gap: 50px;
        font-size: 50px;
    }
    .hmc{
        text-align: center;
        color: midnightblue;
    }
    .my_cv{
        display: inline-block;
        top: 780px;
    left: 250px;
    }
    .third_part{
        display: block;
        margin-top: 20px;
       padding-left: 80px;
    }
    .image2_div{
        display: none;
    }
    .aboutme_div{
        margin-right: 80px;
    }
    .my_cv2{
        display: none;
        
    }
    /* .services{
        flex-direction: column;
        width: 100%;
    } */
    .our_services{
        text-align: center;
        color: white;
    }
    .servives_conn{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;

        width: 100%;
    }

    .img
    {
        width: 100%;
    }
    .skills{

        margin-bottom: 20px;
    }



    @media screen and (max-width: 400px){
    .my_cv{
        display: inline-block;
        top: 820px;
    left: 200px;
    }

}
}