*{
    padding: 0;
    margin: 0;
}

:root{
    --white: #fdfdfd;
    --bg-color: #0b3b3b;
    --secondary-color: #456b6b;
    --light-sec-color: #dcf7f7;
    --black: #0d0d0d;
}

.heading{
    
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

}

.my_logo{

    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 10px;
}
#anchor{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    line-height: 70px;
    gap: 25px;
}

#menu_icon{
    /* margin-top: 25px; */
    background-color: white;
    display: none;
}

.cresent{
    margin-top: 25px;
    font-size: 30px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: white;
}




#anchor a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: white;

}

#anchor a:hover{
    background-color: blue;
    color: white;
    border-bottom: 1px solid black;
    
}



.warm_message{
    padding-left: 150px;
}

.span{
    background-color: blue;
    color: white;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
    
}

.hero_section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--light-sec-color);
    border-radius: 5px;
}

.soc_med_logo{
    padding-left: 30px;
}

.myjob_description{
    padding-left: 30px;
    width: 70%;
}

.my_image{
    border-radius: 50px;
    transition: width 2s, height 2s, transform 2s;
    
    /* animation: mymove 5s infinite; */
}
  .my_image:hover{
    width: 300px;
    height: 300px;
    transform: inherit;
}


/* @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  } */

  .my_image{
    border-radius: 50px;
    margin-left: 150px;
    margin-top: 10px;
    /* animation-timing-function: ease-in-out; */
}




.hmc{

    text-align: center;
    color: midnightblue;
}

.my_cv{
    position: absolute;
    display: inline;
    background-color: blue;
    top: 300px;
    left: 170px;
    color: white;
    border-radius: 20px;
    padding: 5px;
    
}

.my_cv a{
    color: white;
    text-decoration: none;
}

.my_cv a:hover{
    background-color: rgb(138, 24, 79);
    color: white;
    border-radius: 20px;

}

.third_part{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 50px;
}

.image2_div{
    margin-left: 100px;
}

.my_image2{
    border-radius: 50px;
    /* padding-top: 40px; */
}

.aboutme_div{
    margin-right: 200px;
}

.para{
    text-align: justify;
}


.name{
    
    padding-left: 5px;
    font-weight: bold;
}

.phone{
    font-weight: bold;
    padding-left: 5px;
}

.gmail{
    padding-left: 5px;
}

.my_cv2{
    position: absolute;
    display: inline;
    background-color: blue;
    right: 400px;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    
}

.my_cv2 a{
    color: white;
    text-decoration: none;
}

.my_cv2 a:hover{
    background-color: rgb(138, 24, 79);
    color: white;
    border-radius: 20px;

}

.contact{
    display: grid;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    background-image: linear-gradient(#456b6b, rgb(188, 242, 255));
    
}

.con_con{
    color: white;
    text-align: center;
    margin: 10px 0 10px 0;
}

.contact_input{
    margin-bottom: 10px;
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.text_area{
    text-align: center;
    border-radius: 10px;
    padding-top: 50px;
}

.send{
    margin-left: 150px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
}

.send:hover{
    background-color: aqua;
}

.services{

    background-color: var(--secondary-color);
    margin-top: 15px;
    padding-bottom: 15px;

}

.our_services{
    text-align: center;
    color: white;
}

.servives_conn{
    display: flex;
    width: 100%;
    height: 420px;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
    border-radius: 5px;
    
}



.service_1{
    background-color: aquamarine;
    margin-left: 10px;
    width: 400px;
}

.front_img,
.back_img,
.UIUX_img,
.App_img

{
    width: 300px;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    height: 135px;
}


.serv_para{

    padding: 10px;
    text-align: justify;
    color: brown;
}

.service_2{
    background-color: aquamarine;
    width: 400px;
}
.service_3{
    width: 400px;
    background-color: aquamarine;
}
.service_4{
    width: 400px;
    background-color: aquamarine;
    margin-right: 10px;
}


.skills{

    display: flex;
    justify-content: space-evenly;
    background-color: #dcf7f7;
    margin-top: 15px;
    
}


.follow_us{
    background-color: var(--secondary-color);
    /* display: flex; */
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.follow_soc{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

#facebook,
#linkedIn,
#whatsapp{

    font-size: 50px;
    width: 50px;
    padding-top: 20px;
    color: white;
}





@media screen and (max-width: 600px) {

    
        /* display: none; */
    
    
    .warm_message{
        padding-left: 50px;
        padding-top: 10px;
    }

    
#anchor a{
    text-decoration: none;
    display:none;
    justify-content: space-between;
    color: white;

}

    .menu_cresent{
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
        margin-right: 20px;
    }
     #menu_icon {
        display: block;
        background-color: white;
        font-size: 30px;
        /* width: 30px; */
        
        /* display: flex; */
    }
    
    .cresent{
        display: none;
       
    }
    

    
    #anchor {
        display: block;
    }  
    .fa-solid fa-bars{
        display: block;
        width: 40%;
        height: 40vh;
    }
    
    .span{
        display: block;
        background-color: blue;
        color: white;
        margin-top: 20px;
        margin-right: 100px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    
    .hero_section{
        display: block;
    }
    
    .soc_med_logo{
        padding-left: 30px;
        display: flex;
        gap: 50px;
        font-size: 50px;
    }
    
    .myjob_description{
        width: 100%;
        margin-left: -40px;
        margin-top: -29px ;
    }
    
    .my_image{
        border-radius: 50px;
        margin-left: 150px;
        margin-top: 10px;
        /* animation-timing-function: ease-in-out; */
        transition: width 2s, height 2s, transform 2s;
    }

    .my_image:hover{
        width: 300px;
        height: 300px;
        transform: inherit;
    }

   
       


    .hmc{
    
        text-align: center;
        color: midnightblue;
    }
    
    .my_cv{
    top: 700px;
    left: 250px;
    }

    
    .third_part{
        display: block;
        margin-top: 20px;
       padding-left: 80px;
       
    }
    
    .image2_div{
        display: none;
       
    }
    
   
    .aboutme_div{
        margin-right: 80px;
    }
    
    
    .my_cv2{
        display: none;
        /* top: 1100px;
        left: 180px;
        width: 100px;
        padding: 7px; */
    }


    .services{

        height: 1500px;
    
    }
    
    .our_services{
        text-align: center;
        color: white;
    }
    
    .servives_conn{
        display: block;
       
        
    }
    
    
    
    .service_1{
        margin-left: 75px;
    }
    
    
    .service_2{
        margin-top: 20px;
        margin-left: 75px;
    }

    .service_3{
        margin-top: 20px;
        margin-left: 75px;
    }


    .service_4{
        margin-top: 20px;
        margin-left: 75px;
    }
    
    .front_img,
    .back_img,
    .UIUX_img,
    .App_img
    
    {
        width: 380px;
       
    }


    .skills{

        margin-bottom: 20px;
;
        
    }
    
    
    
}
